
@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
  
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Categories</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="categories__slider owl-carousel">
                    @*show categories*@
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="@(Configuration["BaseAddress"] + category.Image)">
                                @*GetProductByCategoryId*@
                                <h5><a asp-controller="Product" asp-action="Category" asp-route-id="@category.Id">@category.Name</a></h5>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Best Rating</h2>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                @*product item*@

                @foreach (var product in Model.FeaturedProducts)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="@(Configuration["BaseAddress"] + product.ImagePath)">
                                <ul class="featured__item__pic__hover">
                                    @*Rating*@
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <li>
                                            <a asp-controller="Product" asp-action="Rating" asp-route-star="@i" asp-route-productId="@product.Id">
                                                <i class="fa fa-star"></i>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h6>
                                <h5>$@product.Price </h5>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </section>
    <!-- Featured Section End -->
